<a href="#" class="dialog" onclick=clickHandler>
  <div class="dialog__meta">
    <span class="dialog__meta-time">{{ time }}</span>
  </div>
  <div class="dialog__photo-wrapper">
    <img
      class="avatar dialog__photo"
      src="{{ avatar }}"
      alt="photo"
    >
  </div>
  <div class="dialog__message">
    <div class="dialog__message-person">
      <span>{{ title }}</span>
    </div>
    <div class="dialog__message-context">
      <span>{{ context }}</span>
    </div>
  </div>
</a>