<section class="content">
  {{{ header }}}

  <main class="main">
    <p class="list-header">{{ headerList }}</p>
    <ul class="list">
      {{ componentsArray itemList }}
    </ul>
  </main>
</section>
