:root {
  --main-background: #e7ebf0;
  --white: #fff;
  --base-text-color: #222;
  --main-color: #5682a3;
  --main-color-light: #5291c1;
  --field-label-color: #999;
  --field-border-color: #e6e6e6;
  --error-color: #f00;
  --new-message: #64c270;
}
