<section class="content">
  {{{ header }}}

  <main class="main main-error">
    <div class="main-error__header-wrapper">
      <h1 class="main-error__header">{{ code }}</h1>
    </div>

    <p class="main-error__description">{{ description }}</p>
    {{{ homeLink }}}
  </main>
</section>