<section class="messages">
  <div class="messages__history">
    <ul class="chat__list chat__list--history">
      {{ componentsArray itemList }}
    </ul>
  </div>
  <div class="messages__sending">
    <div>
      <img
        class="avatar"
        src="images/user.jpg"
        alt="photo"
      >
    </div>
    <div class="messages__sending-writing">
      {{{ form }}}
    </div>

    <div>
      <img
        class="avatar"
        src="images/contact-1.jpg"
        alt="photo"
      >
    </div>
  </div>
</section>