<a href="#" class="user" onclick=clickHandler>
  <div class="user__photo-wrapper">
    <img
      class="avatar user__photo"
      src="{{ avatar }}"
      alt="photo"
    >
  </div>
  <div class="user__info">
    <span>{{ email }}</span>
    <span>{{ firstName }}</span>
    <span>{{ secondName }}</span>
  </div>
</a>